# Credit Risk Classification

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split

# Splitting the data into training and testing

In [2]:
lending_data_df = pd.read_csv("data/lending_data.csv")

lending_data_df.head()

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt,loan_status
0,10700.0,7.672,52800,0.431818,5,1,22800,0
1,8400.0,6.692,43600,0.311927,3,0,13600,0
2,9000.0,6.963,46100,0.349241,3,0,16100,0
3,10700.0,7.664,52700,0.430740,5,1,22700,0
4,10800.0,7.698,53000,0.433962,5,1,23000,0

In [3]:
y = lending_data_df["loan_status"] # target
X = lending_data_df.drop(columns=["loan_status"]) # features

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)

In [4]:
y_train.head()

2713     0
27355    0
46607    0
23276    0
75139    1
Name: loan_status, dtype: int64

In [5]:
X_train.head()

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt
2713,9300.0,7.069,47100,0.363057,3,0,17100
27355,10400.0,7.528,51400,0.416342,4,1,21400
46607,9900.0,7.350,49800,0.397590,4,0,19800
23276,9600.0,7.212,48500,0.381443,4,0,18500
75139,22200.0,12.546,98700,0.696049,15,3,68700